﻿@model List<NF.Web.Models.ViewModels.FormVM>

@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="row content">


        <div class="col-sm-9">
            <br />
            <p><strong><span style="font-size: 24px;">Welcome to <span style="color: rgb(41, 105, 176);">Negometrix Forms</span></span></strong></p>
            <p>Here you can create<strong>&nbsp;Question Forms that contain:</strong></p>
            <ol>
                <li><strong><span style="color: rgb(41, 105, 176);">Form Title</span></strong></li>
                <li><strong><span style="color: rgb(41, 105, 176);">Form Description</span></strong></li>
            </ol>
            <p>And you can choose from our 3 types of questions:&nbsp;</p>
            <ol>
                <li><span style="color: rgb(41, 105, 176);"><strong>Text Questions</strong></span></li>
                <li><span style="color: rgb(41, 105, 176);"><strong>Option Questions</strong></span></li>
                <li><span style="color: rgb(41, 105, 176);"><strong>Document Questions</strong></span></li>
            </ol>
            <p>After you&#39;ve registered you are able to create your own question form and share it with other people, so you can see how did they answer and what they think</p>





        </div>
        @if (Model.Count > 0)
        {
            <div class="col-sm-3 sidenav">
                @{
                    string name1 = Model[0].Name;
                    string name2 = Model[1].Name;

                    if (Model[0].Name.Length > 10)
                    {
                        name1 = name1.Substring(0, 10) + "...";
                    }
                    if (Model[1].Name.Length > 10)
                    {
                        name2 = name2.Substring(0, 10) + "...";
                    }

                    string desc1 = Model[0].Description;
                    string desc2 = Model[1].Description;

                    if (Model[0].Description.Length > 95)
                    {
                        desc1 = desc1.Substring(0, 94) + "...";
                    }
                    if (Model[1].Description.Length > 95)
                    {
                        desc2 = desc2.Substring(0, 95) + "...";
                    }

                    string data1 = Model[0].ModifiedOn.ToString().Substring(0, 10);
                    string data2 = Model[1].ModifiedOn.ToString().Substring(0, 10);


                }


                <br />
                <h4> Most Answered Form</h4>
                <div class="card text-black mb-5 text-center" style= " background-color: #85adad;width: 14rem;">

                    <div class="card-body">
                        <h5 class="card-title">@name1</h5><hr />
                        <p class="card-text">@desc1</p>
                        <small class="text-left">Number of times answered: @Html.DisplayFor(modelItem => Model[0].AnsweredCount)</small><br />
                        <small class="text-right">Last modified on: @data1</small><br />
                    </div>



                    <form>

                        <button asp-area="" class="button-link" style="background-color: lawngreen;  border: 1px green; width:100px" asp-controller="Forms" asp-action="CheckOutForm" asp-route-id="@Model[0].Id"> View Form </button>

                    </form>
                </div>
                <br />
                <h4>Recently created Form</h4>
                <div class="card text-black mb-5 text-center" style= " background-color: #85adad;width: 14rem;">

                    <div class="card-body">
                        <h5 class="card-title">@name2</h5><hr />
                        <p class="card-text">@desc2</p>
                        <small class="text-left">Number of times answered: @Html.DisplayFor(modelItem => Model[1].AnsweredCount)</small><br />
                        <small class="text-right">Last modified on: @data2</small><br />
                    </div>



                    <form>

                        <button asp-area="" class="button-link" style="background-color: lawngreen;  border: 1px green; width:100px" asp-controller="Forms" asp-action="CheckOutForm" asp-route-id="@Model[1].Id"> View Form </button>

                    </form>
                </div>

            </div>
        }

    </div>
</div>






