﻿@model NF.Web.Models.AnswerViewModels.FormAnswerAVM

@{
    ViewData["Title"] = "Answer";

    int qC = 1;
}

<div class="card">
    <div class="card-header"> <h2 class="text-center">Submitted answer :</h2> </div>
    <div class="card-body">

        <form enctype="multipart/form-data" id="answer_form" method="POST" role="form">
            <input type="hidden" id="json_answer_input" name="json_answer" value="">
            <div class="row">
                <div class="col-12">

                    @*TEXT QUESTIONS*@
                    <hr />
                    @for (int i = 0; i < Model.TextQuestionAnswers.Count; i++)
                    {
                        <label>@qC. @Model.TextQuestionAnswers[i].Name</label>
                        <input class="form-control" type="text" value="@Model.TextQuestionAnswers[i].TextAnswer" readonly>
                        <br />
                        qC++;

                    }

                    @*OPTION QUESTIONS*@
                    <hr />


                    @for (int i = 0; i < Model.OptionQuestionAnswers.Count; i++)
                    {

                        <label>@qC. @Model.OptionQuestionAnswers[i].Text</label>

                        @foreach (var option in Model.OptionQuestionAnswers[i].Options)
                        {


                            <div class="form-check">
                                <input type="checkbox" value="@option.Text" disabled checked="@option.IsMarked">
                                <label class="form-check-label">@option.Text</label>
                            </div>

                        }
                        qC++;
                        <br />
                    }

                    @*DOCUMENT QUESTIONS*@
                    <hr />

                    @for (int i = 0; i < Model.DocumentQuestionAnswers.Count; i++)
                    {

                        <label>@qC. @Model.DocumentQuestionAnswers[i].QuestionText</label>
                        <div>
                            @foreach (var item in @Model.DocumentQuestionAnswers[i].FilePaths)
                            {
                                <label>@item.Path</label>

                                <a href="~/documents/@item.Path" download>Download</a>
                            }
                        </div>

                        <br />
                        qC++;
                    }
                    <br>
                    <br>
                    <hr />

                </div>
            </div>

        </form>

    </div>
</div>




@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

