﻿@model FormVM
@{
    ViewData["Title"] = "Answer";
    List<string> text_question_ids = new List<string>();
    List<string> option_question_ids = new List<string>();
}
<h1 style="position:center">Answer page</h1>
<hr />

<div class="card">
    <div class="card-header"> <h2 class="text-center">@Model.Name</h2> </div>
    <div class="card-body">
        <div class="col-8 offset-2">
            <h5 class="card-text text-center" style="word-break: break-all;">@Model.Description</h5>
        </div>
        <form asp-controller="Forms" asp-action="SaveAnswer" enctype="multipart/form-data" id="answer_form" method="POST" role="form" asp-antiforgery="true">
            <input type="hidden" id="json_answer_input" name="json_answer" value="">
            <div class="row">
                <div class="col-12">
                    @for (int i = 0; i < Model.TextQuestions.Count; i++)
                    {
                        text_question_ids.Add(Model.TextQuestionVMs[i].Id.ToString());
                        <label for="@Model.TextQuestionVMs[i].Id">@Model.TextQuestionVMs[i].Name</label>
                        if (Model.TextQuestionVMs[i].IsLongAnswer)
                        {
                            <textarea id="@Model.TextQuestionVMs[i].Id" class="form-control" required="@Model.TextQuestionVMs[i].IsRequired"></textarea>
                        }
                        else
                        {
                            <input id="@Model.TextQuestionVMs[i].Id" class="form-control" type="text" required="@Model.TextQuestionVMs[i].IsRequired">
                        }
                        <br />
                    }
                    @for (int i = 0; i < Model.OptionsQuestions.Count; i++)
                    {
                        option_question_ids.Add(Model.OptionsQuestionVMs[i].Id.ToString());

                        <label>@Model.OptionsQuestionVMs[i].Name</label>

                        @foreach (var option in Model.OptionsQuestionVMs[i].Options)
                        {

                            if (Model.OptionsQuestionVMs[i].HasMultipleAnswers)
                            {
                                <div class="form-check">
                                    <input class="form-check-input @(Model.OptionsQuestionVMs[i].Id)_options @(Model.OptionsQuestionVMs[i].IsRequired ? $"{Model.OptionsQuestionVMs[i].Id}_atleast_one_checked" : "")" type="checkbox" name="@(Model.OptionsQuestionVMs[i].Id)_option_checkboxes" value="@option.Text" id="@option.Id" data-questionname="@(Model.OptionsQuestionVMs[i].Name)">
                                    <label class="form-check-label" for="@option.Id">@option.Text</label>
                                </div>
                            }
                            else
                            {
                                <div class="form-check">
                                    <input class="form-check-input @(Model.OptionsQuestionVMs[i].Id)_options" type="radio" name="@(Model.OptionsQuestionVMs[i].Id)_option_radios" id="@option.Id" value="@option.Text" required="@Model.OptionsQuestionVMs[i].IsRequired">
                                    <label class="form-check-label" for="@option.Id">@option.Text</label>
                                </div>
                            }
                        }

                        <br />
                    }
                    @for (int i = 0; i < Model.DocumentQuestions.Count; i++)
                    {
                        var text = "";
                        if (Model.DocumentQuestionVMs[i].FileNumbers > 1)
                        {
                            text = $"{Model.DocumentQuestionVMs[i].FileNumbers} files with max size of {Model.DocumentQuestionVMs[i].FileSize} MB each";
                        }
                        else
                        {
                            text = $"{Model.DocumentQuestionVMs[i].FileNumbers} file with max size of {Model.DocumentQuestionVMs[i].FileSize} MB";
                        }

                        <label for="@Model.DocumentQuestionVMs[i].Id">@Model.DocumentQuestionVMs[i].Name</label>
                        <div class="custom-file">
                            <input name="@(Model.DocumentQuestionVMs[i].Id)" id="@Model.DocumentQuestionVMs[i].Id" class="custom-file-input form-control" type="file" multiple="@(Model.DocumentQuestionVMs[i].FileNumbers > 1)" required="@Model.DocumentQuestionVMs[i].IsRequired">
                            <label class="custom-file-label" for="@Model.DocumentQuestionVMs[i].Id" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">@(text)</label>
                        </div>
                        <br />
                        <br />
                    }
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="row my-5">
                        <div class="col-6 offset-3 text-center">
                            <button class="btn btn-success" id="save_answer_button" style="width: 100%;" type="submit">Save answer</button>
                        </div>
                    </div>
                </div>
            </div>

        </form>

    </div>
</div>



@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script src="/lib/jquery/dist/jquery.min.js"></script>

<script>

    text_questions_id_arr = [];
    @foreach (var id in text_question_ids)
    {
        <text>text_questions_id_arr.push("@(id)");</text>
    }
    option_questions_id_arr = [];
    @foreach (var id in option_question_ids)
    {
        <text>option_questions_id_arr.push("@(id)");</text>
    }

    function get_json_answer() {
        var text_questions = [];
        var option_questions = [];

        for (var i = 0; i < text_questions_id_arr.length; i++) {
            var text_answer = "";
            if ($("#" + text_questions_id_arr[i]).val()) {
                text_answer = $("#" + text_questions_id_arr[i]).val();
            }
            text_questions.push({ "id": text_questions_id_arr[i], "answer": text_answer });
        }
        for (var i = 0; i < option_questions_id_arr.length; i++) {
            var selected_option_ids_for_this_question = [];
            $('.' + option_questions_id_arr[i] + '_options:checked').each(function () { selected_option_ids_for_this_question.push(this.id); });
            option_questions.push({ "id": option_questions_id_arr[i], "selected_option_ids": selected_option_ids_for_this_question });
        }

        var json_answer = { "id": "@(Model.Id)", "text_questions": text_questions, "option_questions": option_questions };

        return json_answer;
    }
    //validate if the question is required but none of the options is checked
    function validate_checkboxes() {
        for (var i = 0; i < option_questions_id_arr.length; i++) {
            var elements = $("." + option_questions_id_arr[i] + "_atleast_one_checked");
            if (elements.length > 0) {
                var checked_elements = $("." + option_questions_id_arr[i] + "_atleast_one_checked:checked");

                if (checked_elements.length == 0) {
                    alert("Check atleast one answer for question '" + $(elements[0]).attr("data-questionname") + "'");
                    return false;
                }
            }
        }
        return true;
    }

    $(function () {

        $(".custom-file-input").on("change", function () {
            var file_objects = [];
            var file_names = [];
            if ($(this)[0]) {
                if ($(this)[0].files) {
                    file_objects = $(this)[0].files;
                    for (var i = 0; i < file_objects.length; i++) {
                        file_names.push(file_objects[i].name);
                    }
                }
            }
            $(this).siblings(".custom-file-label").addClass("selected").html(file_names.join(", "));
        });

        $(document).on('submit', '#answer_form', function () {

            $("#json_answer_input").val(JSON.stringify(get_json_answer()));

            return validate_checkboxes();

        });

    });
</script>
