﻿@{
    ViewData["Title"] = "New Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card">
    <div class="card-header">@ViewData["create_mode"]</div>
    <div class="card-body">

        <form asp-action="Create" enctype="multipart/form-data" id="new_form" method="POST" role="form" asp-antiforgery="true">
            <input id="state_input" name="state" type="hidden" value="">
            <div class="row">
                <div class="col-8 offset-2">
                    <h1 class="text-center">@ViewData["form_title"]</h1>
                    <label for="form_name">Name</label>
                    <input class="form-control" id="form_name" maxlength="150" placeholder="Untitled form" type="text" required>
                    <br>
                    <label for="form_description">Description</label>
                    <textarea class="form-control" placeholder="Description" id="form_description" required></textarea>
                    <br>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-8 offset-2">
                    <h2 class="text-center">Questions</h2>
                    <br>
                    <div id="questions_div"></div>
                    <br>
                    <br>
                    <div class="col-6 offset-3">
                        <div class="input-group">
                            <select class="form-control" id="question_type_select">
                                <option value="Options">Options</option>
                                <option value="Text">Text</option>
                                <option value="File">File</option>
                            </select>
                            <div class="input-group-append">
                                <button class="btn btn-primary" id="add_question_button" type="button">
                                    Add Question
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="row my-5">
                <div class="col-6 offset-3 text-center">
                    <button class="btn btn-success" id="save_form_button" style="width: 100%;" type="submit">Save Form</button>
                </div>
                <button class="go_up" id="button" style="height:38px"><i class="fa fa-chevron-up" style="font-size:32px;color:forestgreen">UP</i></button><br /><br />
            </div>
        </form>
    </div>
</div>

<div class="py-5" data-type="options" id="option_question_template" style="display: none;">
    <div class="input-group">
        <input class="question_text form-control" placeholder="Question of type 'Option'" type="text" required>
        <div class="input-group-append">
            <button class="remove_question_button btn btn-outline-secondary" type="button">
                <i class="fa fa-trash"></i>
            </button>
        </div>
    </div>
    <br>
    <div class="col-6 offset-1">
        <input class="option_1 form-control" placeholder="Option" type="text" required>
    </div>
    <br>
    <div class="col-6 offset-1">
        <input class="option_2 form-control" placeholder="Option" type="text" required>
    </div>
    <div class="additional_options"></div>
    <br>
    <div class="col-6 offset-1">
        <button class="add_option_button btn btn-light" type="button">
            <i class="fa fa-plus"></i>
        </button>
    </div>
    <hr>
    <div class="float-right">
        <div class="custom-control custom-checkbox">
            <input class="custom-control-input" id="multiple_answers_checkbox" type="checkbox">
            <label class="custom-control-label" for="multiple_answers_checkbox" id="multiple_answers_label">Multiple Answers</label>
        </div>
        <div class="custom-control custom-checkbox">
            <input class="custom-control-input" id="required_answer_checkbox" type="checkbox">
            <label class="custom-control-label" for="required_answer_checkbox" id="required_answer_label">Required</label>
        </div>
    </div>
</div>
<div class="option_template" id="option_template" style="display: none;">
    <br>
    <div class="col-6 offset-1">
        <div class="input-group">
            <input class="option_text_input form-control" placeholder="Option" type="text" required>
            <div class="input-group-append">
                <button class="remove_option_button btn btn-outline-secondary" type="button">
                    <i class="fa fa-trash"></i>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="py-5" data-type="text" id="text_question_template" style="display: none;">
    <div class="input-group">
        <input class="question_text form-control" placeholder="Question form type 'Text'" type="text" required>
        <div class="input-group-append">
            <button class="remove_question_button btn btn-outline-secondary" type="button">
                <i class="fa fa-trash"></i>
            </button>
        </div>
    </div>
    <hr>
    <div class="float-right">
        <div class="custom-control custom-checkbox">
            <input class="custom-control-input" id="long_answer_checkbox" type="checkbox">
            <label class="custom-control-label" for="long_answer_checkbox" id="long_answer_label">Long Answer</label>
        </div>
        <div class="custom-control custom-checkbox">
            <input class="custom-control-input" id="required_answer_checkbox" type="checkbox">
            <label class="custom-control-label" for="required_answer_checkbox" id="required_answer_label">Required</label>
        </div>
    </div>
</div>
<div class="py-5" data-type="document" id="document_question_template" style="display: none;">
    <div class="input-group">
        <input class="question_text form-control" placeholder="Question from type 'Document'" type="text" required>
        <div class="input-group-append">
            <button class="remove_question_button btn btn-outline-secondary" type="button">
                <i class="fa fa-trash"></i>
            </button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-6">
            <label>
                Maximum amount of files
                <select class="form-control" id="file_number_limit">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
            </label>
        </div>
        <div class="col-6 text-right">
            <label>
                Maximum size of file
                <select class="form-control" id="file_size_limit">
                    <option value="1">1 MB</option>
                    <option value="10">10 MB</option>
                    <option value="100">100 MB</option>
                    <option value="1024">1 GB</option>
                </select>
            </label>
        </div>
    </div>
    <hr>
    <div class="float-right">
        <div class="custom-control custom-checkbox">
            <input class="custom-control-input" id="required_answer_checkbox" type="checkbox">
            <label class="custom-control-label" for="required_answer_checkbox" id="required_answer_label">Required</label>
        </div>
    </div>
</div>

<script src="/lib/jquery/dist/jquery.min.js"></script>
<script>

    question_count = 0;
    option_count = {};

function get_state() {

            var questions = []
            for (var i = 1; i <= question_count; i++) {
                if ($('#question_' + i).length > 0) {

                    var text = $('#question_' + i + '_text').val();
                    var required_answer = $('#question_' + i + '_required_answer_checkbox').is(':checked');
                    var question_type = $('#question_' + i).attr("data-type");

                    if (question_type == "options") {

                        var multiple_answers = $('#question_' + i + '_multiple_answers_checkbox').is(':checked');
                        var options = []
                        for (var j = 1; j <= option_count[i]; j++) {
                            if ($('#question_' + i + '_option_' + j + '_text').val()) {
                                options.push($('#question_' + i + '_option_' + j + '_text').val());
                            }
                        }
                        questions.push({ "type": "options", "text": text, "multiple_answers": multiple_answers, "required_answer": required_answer, "options": options });

                    } else if (question_type == "text") {

                        var long_answer = $('#question_' + i + '_long_answer_checkbox').is(':checked');

                        questions.push({ "type": "text", "text": text, "long_answer": long_answer, "required_answer": required_answer });

                    } else if (question_type == "document") {

                        var file_number_limit = $('#question_' + i + '_file_number_limit').val();
                        var file_size_limit = $('#question_' + i + '_file_size_limit').val();

                        questions.push({ "type": "document", "text": text, "file_number_limit": file_number_limit, "file_size_limit": file_size_limit, "required_answer": required_answer });

                    }
                }
            }

            var state = { "name": $("#form_name").val(), "description": $("#form_description").val(), "questions": questions }

            console.log(state);

            return state;

        }

        $(document).ready(function () {

            $(document).on('click', '#add_question_button', function () {
                if ($('#question_type_select').val() == "Options") {

                    question_count++;

                    new_question = $("#option_question_template").clone(true);
                    new_question.css('display', 'block');
                    new_question.prop('id', 'question_' + question_count);
                    new_question.find('.remove_question_button').attr('data-parent', 'question_' + question_count);
                    new_question.find('.question_text').prop('id', 'question_' + question_count + '_text');
                    new_question.find("#multiple_answers_checkbox").prop('id', 'question_' + question_count + '_multiple_answers_checkbox');
                    new_question.find("#multiple_answers_label").prop('for', 'question_' + question_count + '_multiple_answers_checkbox');
                    new_question.find("#multiple_answers_label").prop('id', '');
                    new_question.find("#required_answer_checkbox").prop('id', 'question_' + question_count + '_required_answer_checkbox');
                    new_question.find("#required_answer_label").prop('for', 'question_' + question_count + '_required_answer_checkbox');
                    new_question.find("#required_answer_label").prop('id', '');
                    new_question.find(".option_1").prop('id', 'question_' + question_count + '_option_1_text');
                    new_question.find(".option_2").prop('id', 'question_' + question_count + '_option_2_text');
                    new_question.find(".additional_options").prop('id', 'question_' + question_count + '_additional_options');
                    new_question.find(".add_option_button").val(question_count);

                    // 2 options by default
                    option_count[question_count] = 2;

                    $("#questions_div").append(new_question);

                } else if ($('#question_type_select').val() == "Text") {

                    question_count++;
                    new_question = $("#text_question_template").clone(true);
                    new_question.css('display', 'block');
                    new_question.prop('id', 'question_' + question_count);
                    new_question.find('.remove_question_button').attr('data-parent', 'question_' + question_count);
                    new_question.find('.question_text').prop('id', 'question_' + question_count + '_text');
                    new_question.find("#long_answer_checkbox").prop('id', 'question_' + question_count + '_long_answer_checkbox');
                    new_question.find("#long_answer_label").prop('for', 'question_' + question_count + '_long_answer_checkbox');
                    new_question.find("#long_answer_label").prop('id', '');
                    new_question.find("#required_answer_checkbox").prop('id', 'question_' + question_count + '_required_answer_checkbox');
                    new_question.find("#required_answer_label").prop('for', 'question_' + question_count + '_required_answer_checkbox');
                    new_question.find("#required_answer_label").prop('id', '');

                    $("#questions_div").append(new_question);

                } else if ($('#question_type_select').val() == "File") {

                    question_count++;
                    new_question = $("#document_question_template").clone(true);
                    new_question.css('display', 'block');
                    new_question.prop('id', 'question_' + question_count);
                    new_question.find('.remove_question_button').attr('data-parent', 'question_' + question_count);
                    new_question.find('.question_text').prop('id', 'question_' + question_count + '_text');
                    new_question.find('#file_number_limit').prop('id', 'question_' + question_count + '_file_number_limit');
                    new_question.find('#file_size_limit').prop('id', 'question_' + question_count + '_file_size_limit');
                    new_question.find("#required_answer_checkbox").prop('id', 'question_' + question_count + '_required_answer_checkbox');
                    new_question.find("#required_answer_label").prop('for', 'question_' + question_count + '_required_answer_checkbox');
                    new_question.find("#required_answer_label").prop('id', '');

                    $("#questions_div").append(new_question);

                }
            });

            $(document).on('click', '.add_option_button', function () {
                var this_number = parseInt($(this).val());

                option_count[this_number] = option_count[this_number] + 1;

                new_option = $("#option_template").clone(true);
                new_option.css('display', 'block');
                new_option.prop('id', 'question_' + $(this).val() + '_option_' + option_count[this_number]);
                new_option.find('.remove_option_button').attr('data-parent', 'question_' + $(this).val() + '_option_' + option_count[this_number]);
                new_option.find('.option_text_input').prop('id', 'question_' + $(this).val() + '_option_' + option_count[this_number] + '_text');

                $("#question_" + $(this).val() + "_additional_options").append(new_option);
            });

            $(document).on('click', '.remove_option_button', function () {
                var parent_id = $(this).attr('data-parent');
                $('#' + parent_id).remove();
            });

            $(document).on('click', '.remove_question_button', function () {
                var parent_id = $(this).attr('data-parent');
                $('#' + parent_id).remove();
            });

            $(document).on('submit', '#new_form', function () {

                $("#state_input").val(JSON.stringify(get_state()));

                return true;

            });

        });
    </script>
