﻿@model NF.Web.Models.ViewModels.SearchFormVM
@{
    ViewData["Title"] = "SearchGet";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<title>Search a form</title>


<br /><br />

<div class="row">

    <div class="col-sm-8">
        
        <div class="card text-black mb-5 text-center" style= " background-color: #85adad;max-width: 500px;">
            <div class="card-body">
                <form asp-controller="Forms" asp-action="SearchForms" method="get">
                    <h5 class="card-title">Search by Name or containing word: </h5>
                    <br />
                    <div class="form-group">
                        <input asp-for="Param" class="form-control" />
                        <span asp-validation-for="Param" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
            </div>
        </div>
    </div>
</div>