﻿
<!DOCTYPE html>


<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NF.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/fontawesome-web/css/all.css" />
    <style>
        .bottom-three {
            margin-left: 1cm;
        }

        .button-link {
            padding: 6px;
            border-radius: 8px;
            color: white;
            width: 70px;
            height: 35px;
            border-color: midnightblue;
        }

        .my-class {
            height: 30px;
            color: red;
        }
    </style>
</head>

<body style="width:100%">
  
    <header>

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-lg-2">
            <div class="container">
                <img src="~/images/logo_text.jpg" width="120" height="55" />
                <a class="navbar-brand" style="font-size:20px" asp-area="" asp-controller="Home" asp-action="Index"> Home </a>

                <div class="dropdown">
                    <button style="font-size:18px" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                        Form Menu
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation"><a class="nav-link text-dark" asp-area="" asp-controller="Forms" asp-action="Index">View all Forms</a></li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li role="presentation"><a class="nav-link text-dark" asp-area="" asp-controller="Forms" asp-action="Create">Create a new Form</a></li>
                            <li role="presentation"><a class="nav-link text-dark" asp-area="" asp-controller="Forms" asp-action="MyCreatedForms">My created Forms</a></li>
                            @*<li role="presentation"><a class="nav-link text-dark" asp-area="" asp-controller="Forms" asp-action="MyAnsweredForms">My answered Forms</a></li>*@
                        }

                        <li role="presentation"><a class="nav-link text-dark" asp-area="" asp-controller="Forms" asp-action="SearchGet">Search for a Form</a></li>

                    </ul>

                </div>
               
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />

                </div>
            </div>

        </nav>
    </header>
    <div class="container" style="position:relative; min-height:100%;">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer style="position:absolute; bottom: 0; width:100%; height:4rem" class="border-top footer text-muted">
        <div class="container">
            <a href="https://gitlab.com/PeterBoj/negometrixforms">Negometrix Forms Project</a> - <a href="https://gitlab.com/PeterBoj">Petar</a>  & <a href="https://gitlab.com/dmxice97">Kristiyan</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @*<script src="~/js/form.js" asp-append-version="true"></script>*@
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>


    @RenderSection("Scripts", required: false)
    @await Component.InvokeAsync("NToastNotify")
</body>
</html>
